# Indexing and Slicing of list

In [2]:
#Syntax

#list_name[start:stop:steps]

In [3]:
my_list = [1,2,'galaxy',12,'moon', 34, 'rainbow', 1.23, 'stars', 44.6]
print(type(my_list))
print(my_list)

<class 'list'>
[1, 2, 'galaxy', 12, 'moon', 34, 'rainbow', 1.23, 'stars', 44.6]

In [4]:
my_list[4]

'moon'

In [5]:
my_list[7:8]

[1.23]

In [6]:
#Passing start, stop, and step parameters

my_list[1:5:1]

[2, 'galaxy', 12, 'moon']

In [7]:
my_list[2:8:2]

['galaxy', 'moon', 'rainbow']

In [8]:
#negative indexing

my_list[-1]

44.6

In [9]:
my_list[-3]

1.23

In [10]:
#slicing with negative index

my_list[-3:-1]

[1.23, 'stars']

In [11]:
my_list[7: 1: -2]

[1.23, 34, 12]

In [12]:
my_list

[1, 2, 'galaxy', 12, 'moon', 34, 'rainbow', 1.23, 'stars', 44.6]

In [13]:
#slicing with positive and negative index
my_list[2:-2]

['galaxy', 12, 'moon', 34, 'rainbow', 1.23]

In [14]:
#reversing list
my_list[::-1]

[44.6, 'stars', 1.23, 'rainbow', 34, 'moon', 12, 'galaxy', 2, 1]

# Indexing and Slicing of Tuple

In [17]:
#Syntax

#tuple_name[start:stop:steps]

In [18]:
products_and_prices=("Tetly",240, "Nescafe",650.5, "Nestle",330,  "Twinings", 900)
print(type(products_and_prices))
print(products_and_prices)

<class 'tuple'>
('Tetly', 240, 'Nescafe', 650.5, 'Nestle', 330, 'Twinings', 900)

In [19]:
products_and_prices[4]

'Nestle'

In [20]:
products_and_prices[2:3]

('Nescafe',)

In [21]:
#slicing with negative index

products_and_prices[-3:-1]

(330, 'Twinings')

In [24]:
#Passing start, stop, and step parameters

products_and_prices[2:8:2]

('Nescafe', 'Nestle', 'Twinings')

In [25]:
products_and_prices[8:2:-2]

(900, 330, 650.5)

In [26]:
#slicing with positive and negative index

products_and_prices[3:-2]

(650.5, 'Nestle', 330)

# Indexing and Slicing of Strings

In [27]:
str1='Learn Python'

In [28]:
str1[2]

'a'

In [29]:
str1[8]

't'

In [30]:
#negative indexing

str1[-6]

'P'

In [31]:
str1[-2]

'o'

In [33]:
#slciing

#Syntax

#string_name[start:stop:steps]

In [34]:
str1[1:5:1]

'earn'

In [35]:
str1[1:4:2]

'er'

In [36]:
str1[:3:]

'Lea'

In [37]:
# print the string from starting to ending
str1[::]

'Learn Python'

In [38]:
str1[::2]

'LanPto'

In [39]:
#reverse a string
str1[::-1]

'nohtyP nraeL'

In [40]:
str1[:6:-1]

'nohty'